[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
basicConstraints=CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = app-validation-webhook
DNS.2 = app-validation-webhook.default
DNS.3 = app-validation-webhook.default.svc
DNS.4 = app-validation-webhook.default.svc.cluster.local